


<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h2>Edit Your Listing</h2>

    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>" required>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Description is required</div>
      </div>

      <div class="mb-3">
        <h6>Current listing Image:</h6>
        <img src="<%=listing.image.url  %>" alt="">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Upload:</label>
        <input type="file" name="image" class="form-control">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" name="listing[price]" class="form-control" value="<%= listing.price %>" required>
        <div class="invalid-feedback">Price is required</div>
      </div>


      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
          <select class="form-select" name="listing[category]" id="category" required>
            <option disabled value="">Select a category</option>
            <option value="Trending" <%= listing.category === "Trending" ? "selected" : "" %>>Trending</option>
            <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>Rooms</option>
            <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
            <option value="Camp" <%= listing.category === "Camp" ? "selected" : "" %>>Camp</option>
            <option value="House" <%= listing.category === "House" ? "selected" : "" %>>House</option>
            <option value="Beaches" <%= listing.category === "Beaches" ? "selected" : "" %>>Beaches</option>
            <option value="Mountain city" <%= listing.category === "Mountain city" ? "selected" : "" %>>Mountain city</option>
            <option value="Pool" <%= listing.category === "Pool" ? "selected" : "" %>>Pool</option>
            <option value="Forest" <%= listing.category === "Forest" ? "selected" : "" %>>Forest</option>
          </select>
      </div>



      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input type="text" name="listing[location]" class="form-control" value="<%= listing.location.trim() %>" required>
        <div class="invalid-feedback">Location is required</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country:</label>
        <input type="text" name="listing[country]" class="form-control" value="<%= listing.country.trim() %>" required>
        <div class="invalid-feedback">Country is required</div>
      </div>

      <button type="submit" class="btn btn-dark edit-btn">EDIT</button>
    </form>
  </div>
</div>
